{% extends "base.html" %}

{% block content %}
  <h2>Question Management</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Correct Answer</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
          <td>{{ question.category.name }}</td>
          <td>{{ question.description }}</td>
          <td>{{ question.get_correct_choice.description }}</td>
          <td>{% if question.is_active %}Active{% else %}Inactive{% endif %}</td>
          <td>
            <a href="{% url 'question_detail' pk=question.pk %}" class="btn btn-info">Detail</a>
            <a href="{% url 'question_update' pk=question.pk %}" class="btn btn-warning">Edit</a>            
            <form method="post" action="{% url 'toggle_question_status' question_id=question.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Toggle Status</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'question_create' %}" class="btn btn-success">Add Question</a>
{% endblock %}
